<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <display-name>DemoServlet</display-name>
        <servlet-name>Main</servlet-name>
        <servlet-class>application.lab3.controller.Main</servlet-class>

        <init-param>
            <param-name>edit</param-name>
            <param-value>application.lab3.controller.UIActions.NavigateEdit</param-value>
        </init-param>
        <init-param>
            <param-name>navigation</param-name>
            <param-value>application.lab3.controller.UIActions.NavigateMain</param-value>
        </init-param>
        <init-param>
            <param-name>help</param-name>
            <param-value>application.lab3.controller.UIActions.NavigateHelp</param-value>
        </init-param>
        <init-param>
            <param-name>insDept</param-name>
            <param-value>application.lab3.controller.UIActions.NewDepartmentewD</param-value>
        </init-param>
        <init-param>
            <param-name>insEmp</param-name>
            <param-value>application.lab3.controller.UIActions.NewEmployee</param-value>
        </init-param>
        <init-param>
            <param-name>empView</param-name>
            <param-value>application.lab3.controller.UIActions.ViewEmployees</param-value>
        </init-param>
        <init-param>
            <param-name>deptView</param-name>
            <param-value>application.lab3.controller.UIActions.ViewDepartments</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Actions</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/jsp/Main.jsp</welcome-file>
    </welcome-file-list>

</web-app>